<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Inventory</h1>

    <%- include("partials/categorySidebar.ejs", { categories: ["Drinks", "Candy", "Chips"] }) %>

    <table>
        <caption><%= title %></caption>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Stock</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
        <% items.forEach((item) => { %>
            <tr>
                <td><%= item.name %></td>
                <td><%= item.size %></td>
                <td>$<%= item.price %></td>
                <td><%= item.quantity %></td>
                <td>$<%= item.stock %></td>
                <td><%= item.category %></td>
                <td>
                    <button class="linkBtn"><a href="/update/<%= item.id %>">Update</a></button>
                    <button class="linkBtn"><a href="/delete/<%= item.id %>">Delete</a></button>
                </td>
            </tr>
        <% }); %>
    </table>
    
</body>
</html>